<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <style media="screen">
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
      }
      #map {
        height: 100%;
      }
      .header {
        background-image: url('static/whiteRose.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        font-size: 48px;
        /* text-shadow: 2px 2px 4px #000000; */
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="/rom"><img src="static/Romania.jpg" alt="uk" height="50" style="float:right;"></a>
      <a href="/"><img src="static/uk.jpg" alt="uk" height="50" style="float:right;"></a>
      <br>
      <div style="font-size: 96px;">James & Andreea</div>
      se căsătoresc
      <hr style="height:10px; visibility:hidden;">
      18 iulie 2020
      <hr style="height:10px; visibility:hidden;">
      Poggio del Bolognino <br> Umbria <br> Italy <br><br>
    </div>
    <div style="font-size: 22px;background-image: url('static/grey.jpg'); background-repeat: no-repeat; background-size: cover;">
      <br>
      <img src="static/roseDivider.png" alt="leaf" width="300">
      <h2>Când?</h2>
      <p style="padding: 0px 100px;">
        Ceremonia va fi în ziua de sambătă 18 iulie 2020.
        <br>
        Insă, noi am rezervat întreaga pensiune pentru o săptămână
        și ne-am dori să stați cu noi cât de mult puteți.
        <br>
        <b>Check-in</b>: Joi 16 iulie, 14:00
        <br>
        <b>Check-out</b>: Joi 23 iulie, 10:00
      </p>
      <img src="static/roseDivider.png" alt="leaf" width="300">
      <h2>Unde?</h2>
      <img src="static/AerialShotOfComplex.jpg" alt="farm" width="50%">
      <p style="padding: 0px 100px;">
        Locația se numește
        <a href="https://www.poggiodelbolognino.it/en/" target="_blank">Poggio del Bolognino</a>
        , o pensiune aflată în frumoasele
        dealuri din Umbria, în Italia Centrală. Avem utilizarea pensiunii în
        exclusivitate pentru toată săptămâna. Există o piscină privată,
        așa că nu uitați să vă împachetați costumele de baie! Există, de asemenea,
        un loc de joacă pentru cei mici cu leagăne, tenis de masă și biciclete cu
        utilizarea gratuită.
      </p>
      <br>
    </div>
    <div id="map"></div>
    <div style="font-size: 22px;background-image: url('static/grey.jpg'); background-repeat: no-repeat; background-size: cover;">
      <br>
      <img src="static/roseDivider.png" alt="leaf" width="300">
      <h2>Cum ajungeți acolo?</h2>
      <p style="padding: 0px 100px;">
        1. Zbor direct la Roma! Am creat o listă utilă de zboruri
        <a href="/flights-out" target="_blank">acolo</a> și
        <a href="/flights-return" target="_blank">înapoi</a>
        pentru toate aeroporturile
        care ar fi de folos pentru toți oaspeții noștrii. Dacă trebuie sa ajungeți vineri
        sau să plecați mai devreme decât joi, puteți utiliza website-ul Skyscanner pentru
        a căuta zboruri în zilele de care aveți nevoie.
        <br>
        2. Lucrăm la aranjarea transferurilor între aeroport și pensiune. Vom actualiza
        acest site cu mai multe informații în privința transferului mai târziu.
      </p>
      <img src="static/roseDivider.png" alt="leaf" width="300">
      <h2>Cum să răspundeti?</h2>
      <p style="padding: 0px 100px;">
        Puteti să ne trimiteți un email la jamdreeaoneill@gmail.com. Sau puteti să ne
        trimiteți un mesaj că doar suntem in anul 2019.
      </p>
      <img src="static/roseDivider.png" alt="leaf" width="300">
      <h2>Cod vestimentar</h2>
      <p style="padding: 0px 100px;">
        Italia în luna iulie va fi destul de caldă, așa că nu are rost să vă topiți
        într-un costum de lână. Recomandăm să purtați cămăși și rochii de culoare
        deschisă. În ceea ce privește restul săptămânii, puteți sa purtați ce vă place!
      </p>
      <img src="static/roseDivider.png" alt="leaf" width="300">
      <h2>Cadouri</h2>
      <p style="padding: 0px 100px;">
        Prezența la nunta noastră este sincer tot ce ne dorim, mai ales pentru că o
        să călătoriți distanțe atât de mari pentru a fi acolo alături de noi. Cu
        toate acestea, dacă doriți neapărat să ne oferiți ceva, o mică contribuție
        la luna noastră de miere ar fi foarte apreciată :)
      </p>
      <br>
      <br>
    </div>
    <script>
      function initMap() {
        var myLatLng = {lat: 42.5667, lng: 12.3022};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Poggio del Bolognino'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpxDgGXZ_zbMGeXWjqTq54t2Oo5kH5Jz4&callback=initMap"
    async defer></script>
  </body>
</html>
